.container {
  display: inline-block;
}

.general {
  align-self: center;
  font-size: 1.4rem;
}

.emotion-distribution {
  align-self: center;
  font-size: 1.2rem;
}

label {
  margin-right: 20px;
}

.tip {
  font-size: 1rem;
  margin-bottom: 20px;
  color: #777;
}
