<div class="container"
  (keydown.1)="testingService.submitAnswer('Happiness')"
  (keydown.2)="testingService.submitAnswer('Sadness')"
  (keydown.3)="testingService.submitAnswer('Astonishment')"
  (keydown.4)="testingService.submitAnswer('Disgust')"
  (keydown.5)="testingService.submitAnswer('Fear')"
  (keydown.6)="testingService.submitAnswer('Anger')"> <!--todo-->

  <button (click)="beginSession()" *ngIf="!testingService.testSession && !testingService.showEndMessage">Начать тест</button><br>

  <div *ngIf="testingService.testSession">

    <div class="questionBlock" *ngIf="testingService.testSession; else noQuestion">

      <h1>Какую эмоцию выражает данное изображение?</h1> <br>

      Вопрос {{testingService.questionNumber + 1}}/{{testingService.questionsCount}}<br>
      Время {{testingService.timeLeft | number:'1.1-2'}} <br>

      <img src="{{testingService.currentQuestion | question}}"
           width="480" height="240" alt=""><br>


      <div class="buttonsBlock">

        <button (click)="testingService.submitAnswer('Happiness')">
          Счастье
        </button>

        <button (click)="testingService.submitAnswer('Sadness')">
          Печаль
        </button>

        <button (click)="testingService.submitAnswer('Astonishment')">
          Удивление
        </button>

        <button (click)="testingService.submitAnswer('Disgust')">
          Отвращение
        </button>

        <button (click)="testingService.submitAnswer('Fear')">
          Страх
        </button>

        <button (click)="testingService.submitAnswer('Anger')">
          Гнев
        </button><br>

      </div>

    </div>

    <button (click)="abort()">Прервать тестирование</button>
  </div>

  <div class="endMessage" *ngIf="testingService.showEndMessage">

    <h1>Тест завершен, все ответы записаны</h1>

    <button (click)="testingService.showResults()"
            *ngIf="!testingService.displayResults && testingService.showEndMessage">
      Показать результаты
    </button><br>

    <button (click)="rerun()">Пройти еще раз</button><br>

    <button (click)="back()">Изменить параметры теста</button>

  </div>

  <div class="testResults" *ngIf="testingService.displayResults">

    Корректность - {{testingService.correctCount}} из
    {{testingService.questionsCount}} ({{testingService.accuracy * 100 | number:'1.1-2'}}%)<br>

    <ul>
      <li *ngFor="let answer of testingService.testResults; let i = index">

        Вопрос {{i + 1}} - {{(testingService.isCorrect(answer) ? 'Верно' : 'Ошибка')}}<br>
        <img src="{{answer.Question | question}}"
             width="240" height="120" alt=""><br>

        <div *ngIf="getElapsed(answer) >= 0">
          Ваш ответ - {{
            (answer.UserInput | emotion) +
            (testingService.isCorrect(answer) ? '' : ', правильный - ' + (answer.Question.Type | emotion))
          }}<br>
          Затраченное время - {{answer.ElapsedTime | number:'1.1-2'}}
        </div>

        <div *ngIf="getElapsed(answer) < 0">
          Ответ не был дан, время истекло<br>
          Правильный ответ - {{answer.Question.Type | emotion}}<br>
        </div>

      </li>
    </ul>

  </div>

  <button (click)="back()" *ngIf="!testingService.showEndMessage">Назад</button>
</div>

<ng-template #noQuestion>
  Не удалось загрузить вопрос
</ng-template>
