<div class="container"
  (keydown.1)="testingService.submitAnswer('Happiness')"
  (keydown.2)="testingService.submitAnswer('Sadness')"
  (keydown.3)="testingService.submitAnswer('Astonishment')"
  (keydown.4)="testingService.submitAnswer('Disgust')"
  (keydown.5)="testingService.submitAnswer('Fear')"
  (keydown.6)="testingService.submitAnswer('Anger')"> <!--todo-->

  <button (click)="beginSession()" *ngIf="!testingService.testSession && !testingService.showEndMessage">Начать тест</button><br>

  <div *ngIf="testingService.testSession">

    <div class="questionBlock" *ngIf="testingService.testSession; else noQuestion">

      <h1>Какую эмоцию выражает данное изображение?</h1> <br>

      <div class="info">
        <p>
          Вопрос {{testingService.questionNumber + 1}}/{{testingService.questionsCount}} |
          Время {{testingService.timeLeft | number:'1.1-2'}}
        </p>
      </div>

      <img src="{{testingService.currentQuestion | question}}" alt=""><br>

      <table>
        <tr>
          <td>
            <button class="input-button" (click)="testingService.submitAnswer('Happiness')" #input>
              1. Счастье
            </button>
          </td>
          <td>
            <button class="input-button" (click)="testingService.submitAnswer('Sadness')">
              2. Печаль
            </button>
          </td>
          <td>
            <button class="input-button" (click)="testingService.submitAnswer('Astonishment')">
              3. Удивление
            </button>
          </td>
        </tr>
        <tr>
          <td>
            <button class="input-button" (click)="testingService.submitAnswer('Disgust')">
              4. Отвращение
            </button>
          </td>
          <td>
            <button class="input-button" (click)="testingService.submitAnswer('Fear')">
              5. Страх
            </button>
          </td>
          <td>
            <button class="input-button" (click)="testingService.submitAnswer('Anger')">
              6. Гнев
            </button><br>
          </td>
        </tr>
      </table>

    </div>

    <button (click)="abort()">Прервать тестирование</button>
  </div>

  <div class="endMessage" *ngIf="testingService.showEndMessage">
    <h1>Тест завершен, все ответы записаны</h1>

    <div class="button-bar">
      <button (click)="toVideo()">Перейти к сессии просмотра видео</button><br>
    </div>

    <div class="button-bar">
      <button (click)="rerun()">Пройти еще раз</button>
      <button (click)="back()">Изменить параметры теста</button>
    </div>

    <div class="button-bar">
      <button (click)="testingService.showResults()"
              *ngIf="!testingService.displayResults">
        Показать результаты
      </button>
      <button (click)="testingService.switchAdv(true)"
              *ngIf="testingService.displayResults && !testingService.isAdvancedStats">
        Подробная статистика
      </button>
      <button (click)="testingService.switchAdv(false)"
              *ngIf="testingService.displayResults && testingService.isAdvancedStats">
        Меньше статистики
      </button>
      <button (click)="testingService.downloadResults()">
        Сохранить результат в формате CVS
      </button>

      <div class="error" *ngIf="testingService.error">
        {{testingService.error}}
      </div>
    </div>
  </div>

  <div class="testResults" *ngIf="testingService.displayResults && !testingService.isAdvancedStats">

    Корректность - {{testingService.correctCount}} из
    {{testingService.questionsCount}} ({{testingService.accuracy * 100 | number:'1.1-2'}}%)<br>

    <ul>
      <li *ngFor="let answer of testingService.testResults; let i = index">

        Вопрос {{i + 1}} - {{(testingService.isCorrect(answer) ? 'Верно' : 'Ошибка')}}<br>
        <img src="{{answer.Question | question}}" class="thumbnail" alt=""><br>

        <div *ngIf="getElapsed(answer) >= 0">
          Ваш ответ - {{
            (answer.UserInput | emotion) +
            (testingService.isCorrect(answer) ? '' : ', правильный - ' + (answer.Question.Type | emotion))
          }}<br>
          Затраченное время - {{answer.ElapsedTime | number:'1.1-2'}}
        </div>

        <div *ngIf="getElapsed(answer) < 0">
          Ответ не был дан, время истекло<br>
          Правильный ответ - {{answer.Question.Type | emotion}}<br>
        </div>

      </li>
    </ul>
  </div>

  <div *ngIf="testingService.displayResults && testingService.isAdvancedStats">
    <table *ngIf="testingService.tableData; else noTableData">
      <tr *ngFor="let row of testingService.tableData">
        <td *ngFor="let value of row">
          {{value}}
        </td>
      </tr>
    </table>
  </div>

  <button (click)="back()" *ngIf="!testingService.showEndMessage && !testingService.testSession">Вернуться к настройкам</button>
</div>

<ng-template #noQuestion>
  <div class="error">
    Не удалось загрузить вопрос
  </div>
</ng-template>

<ng-template #noTableData>
  <div class="error">
    Не удалось загрузить подробную информацию
  </div>
</ng-template>
