.client-form {
  border: 1px solid #ccc;
  width: 100%;;
  display: flex;
  margin-bottom: 1rem;
  margin-top: 1rem;
  flex-direction: column;
  align-items: center;
}

.sex-select {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
  max-height: 10px;
  margin-bottom: 20px;
}
