<div class="client-form" xmlns="http://www.w3.org/1999/html">
  <h1>Информация о пациенте</h1>

  <label>
    Фамилия:
    <input type="text" [(ngModel)]="lastName">
  </label><br>
  <label>
    Имя:
    <input type="text" [(ngModel)]="firstName">
  </label><br>
  <label>
    Отчество:
    <input type="text" [(ngModel)]="secondName">
  </label><br>

  <div class="sex-select">
    Пол:
      <input type="radio" id="radio-male"
        name="sex" checked="checked"
        value="Male" (change)="setSex('male')">
    <label for="radio-male">М</label>

      <input type="radio" id="radio-female"
        name="sex"
        value="Female" (change)="setSex('female')">
    <label for="radio-female">Ж</label><br>

  </div>

  <label>
    Дата рождения:
    <input type="date" [(ngModel)]="birthDate">
  </label><br>

  <label>
    Адрес:
    <input type="text"
      placeholder="г. ул. д. кв." [(ngModel)]="address">
  </label><br>

  <label>
    Род деятельности:
    <input type="text" [(ngModel)]="job">
  </label><br>

  <label>
    Травмы и заболевания:
    <input type="text" [(ngModel)]="diseases">
  </label><br>

  <label>
    Телефон:
    <input type="tel"
      placeholder="+7XXXXXXXXXX" [(ngModel)]="phoneNumber">
  </label><br>

  <button (click)="confirm()">Принять</button>

  <div class="validation-error" *ngIf="errorMessage">
    {{errorMessage}}
  </div>
</div>
