.container {
  padding-top: 3rem;
  width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

button {
  margin: 10px auto;
  font-size: 1rem;
  padding: 10px 15px;
  border: 1px solid #000;
  outline: none;
  background: #eee;
  transition: .3s all;
  cursor: pointer;
}
