<div class="client-menu" *ngIf="showMenu">
  <button class="client-menu-button"
    (click)="newClient()">Новая анкета</button> <br>

  <button class="client-menu-button"
          (click)="showClients()">Выбрать пациента</button>
</div>

<app-client-form *ngIf="clientService.isNewClientSession()"></app-client-form>

<div class="clients-list" *ngIf="clientService.isSelectClientSession()">
  <ul *ngIf="clientService.clients && clientService.clients.length; else noClients">
    <li *ngFor="let client of clientService.clients" (click)="clientService.selectClient(client)" routerLink="/config-master">
      {{client.lastName}} {{client.firstName}}
    </li>
  </ul>

  <ng-template #noClients>
    <div *ngIf="clientService.clients && !clientService.clients.length">
      Данные о пациентах отсутствуют
    </div>
    <div *ngIf="!clientService.clients">
      Загрузка данных о пациентах...
    </div>
  </ng-template>
</div>

<button *ngIf="!showMenu" (click)="back()">Назад</button>
