<div class="client-menu" *ngIf="showMenu">
  <button class="client-menu-button"
    (click)="newClient()">Новая анкета</button>

  <button class="client-menu-button"
          (click)="showClients()">Выбрать пациента</button>
</div>

<app-client-form *ngIf="regService.isNewClientSession()"></app-client-form>

<div class="clients-list" *ngIf="clientService.isSelectClientSession()">
  <ul *ngIf="clientService.clients.length; else noClients">
    <li *ngFor="let client of clientService.clients">
      {{client.lastName}} {{client.firstName}}
    </li>
  </ul>

  <ng-template #noClients>
    Данные о пациентах отсутствуют
  </ng-template>
</div>
